<div id="hero-image" class="carousel slide mt-4 d-none d-lg-block" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-image" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-image" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-image" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/web-development-books.png" class="d-block" alt="Web Development Books">
    </div>
    <div class="carousel-item">
      <img src="images/calculus-books.png" class="d-block" alt="Calculus Books">
    </div>
    <div class="carousel-item">
      <img src="images/calculus-books.png" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-image" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-image" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Most Popular-->
<h2 class="title">Most Popular</h2>
<!---Container Medium-->
<div class="d-lg-none container-medium">

          <div class="card h-100">
              <img src="images/course-book-1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Principles of Economics</h5> 
              </div>
              <div class="card-footer position-relative">
                  <span>$15.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
    
          <div class="card h-100">
              <img src="images/course-book-2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Calculus 10e</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$10.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>


          <div class="card h-100">
              <img src="images/course-book-3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Teaching in a Digital Age</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$15.78</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

    
          <div class="card h-100">
              <img src="images/course-book-4.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fundamentals of Financial Accounting</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$9.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
  
          <div class="card h-100">
              <img src="images/course-book-5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Data Structures using C</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$13.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
          <div class="card h-100">
              <img src="images/course-book-6.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Linear Algebra</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$12.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

          <div class="card h-100">
              <img src="images/course-book-7.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chemistry: The Central Science</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$15.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

          <div class="card h-100">
              <img src="images/course-book-8.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">College Physics for the AP Physics 1 Course</h5>
                
              </div>
              <div class="card-footer position-relative">
                  <span>$10.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-9.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Principles of Anatomy and Physiology</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$15.78</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-10.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Human Physiology</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$9.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-11.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Numerical Analysis</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$13.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-12.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The C++ Programming Language</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$12.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
</div>      

<!--Container Large-->
<div class="container d-none d-lg-block">
  <div class="row">
      <div id="mostPopular" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
      
          <button class="carousel-control-prev" type="button" data-bs-target="#mostPopular" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>  
          
          <div class="carousel-inner course-carousel" role="listbox">
              <div class="carousel-item active">
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Principles of Economics</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>
                  
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-2.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Calculus 10e</h5>
                            
                          </div>
                          <div class="card-footer position-relative">
                              <span>$10.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-3.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Teaching in a Digital Age</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.78</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-4.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Fundamentals of Financial Accounting</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$9.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-5.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Data Structures using C</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$13.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-6.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Linear Algebra</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$12.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>
              </div>
        
              <div class="carousel-item">
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-7.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Chemistry: The Central Science</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>
                  
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-8.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">College Physics for the AP Physics 1 Course</h5>
                            
                          </div>
                          <div class="card-footer position-relative">
                              <span>$10.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-9.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Principles of Anatomy and Physiology</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.78</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-10.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Human Physiology</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$9.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-11.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Numerical Analysis</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$13.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-12.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">The C++ Programming Language</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$12.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>
                  
              </div>
          </div>
      
          <button class="carousel-control-next" type="button" data-bs-target="#mostPopular" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
          
      </div>
  </div>
</div>  


<!--Recently Added-->
<h2 class="title">Recently Added</h2>
<!---Container Medium-->
<div class="d-lg-none container-medium">

          <div class="card h-100">
              <img src="images/course-book-13.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">American History</h5> 
              </div>
              <div class="card-footer position-relative">
                  <span>$16.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
    
          <div class="card h-100">
              <img src="images/course-book-14.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Think Java: How to Think Like a Computer Scientist</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$12.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>


          <div class="card h-100">
              <img src="images/course-book-15.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Python Programming: An Introduction to Computer Science</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$21.78</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

    
          <div class="card h-100">
              <img src="images/course-book-16.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Introduction to Business Management</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$19.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
  
          <div class="card h-100">
              <img src="images/course-book-17.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fundamentals of Family Law</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$17.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
      
          <div class="card h-100">
              <img src="images/course-book-18.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Theory and Analysis</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$12.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

          <div class="card h-100">
              <img src="images/course-book-19.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Principles of Accounting</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$21.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

          <div class="card h-100">
              <img src="images/course-book-20.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Management: Theory and Practice</h5>
                
              </div>
              <div class="card-footer position-relative">
                  <span>$8.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-21.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Introduction to Algorithms</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$11.78</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-22.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Educational Psychology</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$8.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-23.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Outlines of Shakespeare's Plays</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$25.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-24.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">World Literature</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$11.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
</div>      

<!--Container Large-->
 <!--Test File-->
<div class="container d-none d-lg-block">
  <div class="row">
    <div id="recentlyAdded" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
          <button class="carousel-control-prev" type="button" data-bs-target="#recentlyAdded" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>  
          
          <div class="carousel-inner course-carousel" role="listbox">
              <% let index; for(let i = 0; i < courseBookData.length; i++) { %>
              <% if(i == 0) { %>
                <div class="carousel-item active">
              <% } else if(i % 6 == 0) { index = i + 5; %>
                <div class="carousel-item">
              <% } %>
                <div class="col-lg-2">
                  <div class="card h-100">
                      <img src="data:image/<%=courseBookData[i].image.contentType%>;base64,<%=courseBookData[i].image.data.toString('base64')%>" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><%= courseBookData[i].bookName %></h5>
                      </div>
                      <div class="card-footer position-relative">
                          <span>$<%= courseBookData[i].cost %></span>
                          <button class="add-to-bookbag position-absolute"></button>
                      </div>
                  </div>
                </div>
              <% if(i == 5) { %>
                </div> 
              <% } else if (i == index || i == courseBookData.length - 1) { %>
                </div>
              <% } }; %>          
          </div>
      
          <button class="carousel-control-next" type="button" data-bs-target="#recentlyAdded" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
          </button>
    </div> 
  </div> 
</div>

<!--Core Courses-->
<h2 class="title">Core Courses</h2>
<!---Container Medium-->
<div class="d-lg-none container-medium">    
  
          <div class="card h-100">
              <img src="images/course-book-25.png" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">Ordinary Differential Equations</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$10.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>
          
    
          <div class="card h-100">
              <img src="images/course-book-4.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fundamentals of Financial Accounting</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$9.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-7.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chemistry: The Central Science</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$15.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

            <div class="card h-100">
              <img src="images/course-book-2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Calculus 10e</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$10.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

        


          <div class="card h-100">
              <img src="images/course-book-10.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Human Physiology</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$9.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          
          <div class="card h-100">
              <img src="images/course-book-12.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The C++ Programming Language</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$12.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
            </div>

          <div class="card h-100">
              <img src="images/course-book-11.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Numerical Analysis</h5>
              </div>
              <div class="card-footer position-relative">
                  <span>$13.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>


          <div class="card h-100">
              <img src="images/course-book-8.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">College Physics for the AP Physics 1 Course</h5>
                
              </div>
              <div class="card-footer position-relative">
                  <span>$10.99</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

          <div class="card h-100">
              <img src="images/course-book-9.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Principles of Anatomy and Physiology</h5>
              
              </div>
              <div class="card-footer position-relative">
                  <span>$15.78</span>
                  <button class="add-to-bookbag position-absolute">
                  </button>
              </div>
          </div>

        
</div>      

<!--Container Large-->
<div class="container d-none d-lg-block">
  <div class="row">
      <div id="coreCourses" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
      
          <button class="carousel-control-prev" type="button" data-bs-target="#coreCourses" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>  
          
          <div class="carousel-inner course-carousel" role="listbox">
              <div class="carousel-item active">
                  
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-25.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <h5 class="card-title">Ordinary Differential Equations</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$10.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-4.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Fundamentals of Financial Accounting</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$9.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                      </div>
  
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-7.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Chemistry: The Central Science</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-2.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Calculus 10e</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$10.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-10.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Human Physiology</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$9.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-12.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">The C++ Programming Language</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$12.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                
              </div>
        
              <div class="carousel-item">

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-11.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Numerical Analysis</h5>
                          </div>
                          <div class="card-footer position-relative">
                              <span>$13.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-8.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">College Physics for the AP Physics 1 Course</h5>
                            
                          </div>
                          <div class="card-footer position-relative">
                              <span>$10.99</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="card h-100">
                          <img src="images/course-book-9.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Principles of Anatomy and Physiology</h5>
                          
                          </div>
                          <div class="card-footer position-relative">
                              <span>$15.78</span>
                              <button class="add-to-bookbag position-absolute">
                              </button>
                          </div>
                        </div>
                  </div>  
              </div>
          </div>
      
          <button class="carousel-control-next" type="button" data-bs-target="#coreCourses" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
        
      </div>
  </div>
</div>  


