<div class="search-background">
    <h1 class="search-header">Search</h1>

    <form action="/search/books" class="search-table" method="GET">
        <label class="search-table-label">Book <span class="required" style="color: red;">*</span></label> 
        <input name="book" type="text" class="search-table-input" placeholder="Enter title or ISBN" required> 

        <label class="search-table-label">Course Number</label> 
        <input name="courseNumber" type="text" class="search-table-input" placeholder="Enter Course Number">  

        <label class="search-table-label">Course Name</label> 
        <input name="courseName" type="text" class="search-table-input" placeholder="Enter Course Name">  

        <label class="search-table-label">Instructor/Professor</label>
        <input name="instructor" type="text" class="search-table-input" placeholder="Enter Instructor/Professor's Name">
        
        <label class="search-table-label" for="inputUniversity">University</label>
        <input class="form-control" name="university" list="universityList" id="inputUniversity" placeholder="Choose your University">
        <datalist id="universityList">
            <option value="University of New Haven">
            <option value="Yale University">
            <option value="Harvard University">
        </datalist>

        <input type="submit" value="Submit" class="search-submit">

    </form>

</div>
