<div class="search-background">
    <h1 class="search-header">Search</h1>

    <form action="" class="search-table">
        <label class="search-table-label">Book <span class="required" style="color: red;">*</span></label> 
        <input type="text" class="search-table-input" placeholder="Enter title or ISBN" required> 

        <label class="search-table-label">Course Number</label> 
        <input type="text" class="search-table-input" placeholder="Enter Course Number">  

        <label class="search-table-label">Course Name</label> 
        <input type="text" class="search-table-input" placeholder="Enter Course Name">  

        <label class="search-table-label">Instructor/Professor</label>
        <input type="text" class="search-table-input" placeholder="Enter Instructor/Professor's Name">

        
        <label class="search-table-label">University</label>
        <select class="search-table-input">
            <option disabled hidden selected>Choose your University</option>
            <option>University of New Haven</option>
            <option>Yale University</option>
            <option>Harvard University</option>
        </select>

        <input type="submit" value="Submit" class="search-submit">

    </form>

</div>
