<div class="sign-in-background">
    <h1 class="sign-in-header">Sign in to continue</h1>

    <form action="/sign_in" class="sign-in-table" method="post">
        <input type="email" class="sign-in-table-input" placeholder="Email" name="email"> 

        <input type="password" class="sign-in-table-input" placeholder="Password" name="password">  

        <input type="submit" value="Sign In" class="sign-in-submit">

    </form>
    <div class="new-account">
        <a class="account-info" href="/sign_up">Create new account</a>
        <a href="" class="account-info">Forgot password?</a>
    </div>
</div>


